<% btn_message = @movie.persisted? ? 'Update' : 'Create' %>
<% url = @movie.persisted? ? movie_path(@movie, @params.merge(page: params[:page])) : movies_path(@movie) %>

<%= form_with(model: @movie, url: url) do |f| %>
  <div class="form-group">
    <%= f.label :title, class: "form-label" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description, class: "form-label" %>
    <%= f.text_area :description, size: "30x10", class: "form-control" %>
  </div>

  <div class="form-group mt-4">
    <div class="d-grid mx-auto">
      <%= f.submit btn_message, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
