<div class="movie border border-dark rounded p-3 my-3">
  <h2>
    <%= movie.title %>
  </h2>
  <div class="py-2">
    Posted by
    <%= link_to movie.user.fullname,
                movies_path(filter: 'user', user_id: movie.user.id) %>
    <%= time_ago(movie.created_at) %>
  </div>
  <div>
    <%= movie.description %>
  </div>
  <% if user_signed_in? && movie.user == current_user %>
    <ul class="align-middle list-unstyled p-3 m-0">
      <li class="d-inline">
        <%= link_to 'Delete', movie_path(movie),
          data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
      </li>
      <li class="d-inline">
        <%= link_to "Edit", edit_movie_path(movie) %>
      </li>
    </ul>
  <% end %>

  <ul class="align-middle list-unstyled p-3 m-0">
    <li class="d-inline">
      <%= movie.like_count.to_s + " likes" %>
    </li>
    <li class="d-inline">
      <%= movie.hate_count.to_s + " hates" %>
    </li>
  </ul>
</div>
