<%= turbo_frame_tag "movie_#{movie.id}" do %>
  <div class="d-flex">
    <div class="me-auto">
      <% if user_signed_in? && movie.user != current_user %>
        <% if (movie.like_count + movie.hate_count) == 0 %>
          <ul class="list-unstyled p-3 m-0">
            <li class="d-inline">
              Be the first to vote for this movie:
            </li>
            <li class="d-inline">
              <%= relevant_preferences_link(movie, vote, 'Like', :like) %>
            </li>
            <li class="d-inline"> | </li>
            <li class="d-inline">
              <%= relevant_preferences_link(movie, vote, 'Hate', :hate) %>
            </li>
          </ul>
        <% else %>
          <ul class="list-unstyled p-3 m-0">
            <li class="d-inline">
              <%= relevant_preferences_link(movie, vote, movie.like_count.to_s + " likes", :like) %>
            </li>
            <li class="d-inline"> | </li>
            <li class="d-inline">
              <%= relevant_preferences_link(movie, vote, movie.hate_count.to_s + " hates", :hate) %>
            </li>
          </ul>
        <% end %>
      <% else %>
        <ul class="list-unstyled p-3 m-0">
          <li class="d-inline">
            <%= movie.like_count.to_s + " likes" %>
          </li>
          <li class="d-inline"> | </li>
          <li class="d-inline">
            <%= movie.hate_count.to_s + " hates" %>
          </li>
        </ul>
      <% end %>
    </div>

    <% if vote.present? %>
      <div>
        <ul class="list-unstyled p-3 m-0">
          <li class="d-inline">
            You <%= vote.action %> this movie
          </li>
          <li class="d-inline"> | </li>
          <li class="d-inline">
            <%= link_to "Un#{vote.action}", vote_path(id: vote.id, movie_id: movie.id),
                data: { turbo_method: :delete } %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>
