<% like_count = @like_count[movie.id] || 0 %>
<% hate_count = @hate_count[movie.id] || 0 %>
<% user_movie_preference = @user_movie_preferences&.dig(movie.id) %>

<div class="movie border border-dark rounded p-3 my-3">
  <div class="d-flex">
    <div class="me-auto">
      <h2>
        <%= movie.title %>
      </h2>
    </div>
    <% if user_signed_in? && movie.user == current_user %>
      <div>
        <ul class="list-unstyled m-0">
          <li class="d-inline">
            <%= link_to 'Delete', movie_path(movie, @params.merge(page: params[:page])),
              data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
          </li>
          <li class="d-inline">
            <%= link_to "Edit", edit_movie_path(movie, @params.merge(page: params[:page])) %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="py-2">
    Posted by
    <%= link_to movie.user.fullname,
                movies_path(@params.merge(user_id: movie.user.id)) %>
    <%= time_ago(movie.created_at) %>
  </div>
  <div>
    <%= movie.description %>
  </div>

  <%= render 'movie_preference_actions',
             movie: movie,
             like_count: like_count,
             hate_count: hate_count,
             user_movie_preference: user_movie_preference %>

</div>
