<main class="container">
  <div class="header">
    <ul>
      <li>
        <%= link_to "Likes",
                    movies_path(filter: 'likes'),
                    class: "btn btn--primary" %>
      </li>
      <li>
        <%= link_to "Hates",
                    movies_path(filter: 'hates'),
                    class: "btn btn--primary" %>
      </li>
      <li>
        <%= link_to "Date",
                    movies_path(filter: 'date'),
                    class: "btn btn--primary" %>
      </li>
    </ul>
  </div>

  <% if user_signed_in? %>
    <div class="header">
      <%= link_to "New movie",
                  new_movie_path,
                  class: "btn btn--primary" %>
    </div>
  <% end %>

  <%= render @movies %>

  <%= will_paginate @movies %>
</main>
